// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../image/bg-5.avif');
$nav-img: url('../dist/image/bg-4.avif');

@media(max-width: 450px) {
  #main-nav {
      display: block;
      justify-content: center;
      padding-top: 1rem;
    
      ul {
        display: bl;
      }
    
      li {
        padding: 1rem 1.5rem;
      }
  }
  
  #header {
    &-home {
      // Header Content
    .header-content {
      h1 {
        font-size: 1rem;
      }
    }
  }
  }
  }